@import "./nav.css";

:root {
    --blue: #0000ff; 
    --white: #eeeeee;
    --black: black;
    --gray: gray; 
    --shadow: rgb(0, 0, 0, 0.3);
    --font-title: "serif"; 
    --font-primary: 'roboto';
    --font-size-default: 16px;    
    --bs-blue: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-default);
    background-color: var(--white);
}

a {
    color: var(--gray); 
    text-decoration: underline;
}

.container {
    width: 100%;
    min-width: 340px; 
    max-width: 1280px;
    margin: auto;
}
